//-------------------------CreditClassInfo-------------------------

.listInfo{
    list-style: none;
    color: #000;
    margin-top: 20px;
    padding: 20px 0;
    li {
        font-weight: bold;
        padding: 20px 20px;
        margin-left: 20px
    }
}


//-------------------------CreditClassExercise-------------------------

.listExercisesContainer{
    display: flex;
    justify-content: space-between;
    background-color: #c7d9fd;
    padding: 10px;
    font-weight: bold;
}


.listExercise, .listFolder{
    list-style: none;
}

.listExerciseItem{
    padding: 10px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.justifyCenter{
    flex: 1;
    display: flex;
    justify-content: center;
    
}

//-------------------------CreditClassFolder-------------------------


.listFolder{
    margin-top: 20px;
    padding: 10px;
    min-height: 425px;
}

.listFolderItem{
    padding: 20px 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin: 20px 10px 10px;
    border-radius: 10px;
}

